.login-content {
    /* background-color: red; */
    margin: auto;
    width: 400px;
    box-shadow: 0 2px 5px #b3b3b3;
    background-color: white;
}

.card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
}

.card-body {
    padding: 35px;;
}

.form-group button[type="submit"] {
    width: 100%;
    margin: 12px 0;
    height: 3rem;
    font-size: 16px;
}

.admin-content {
    margin: 25px 60px;
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 5px #b3b3b3;
}

.page-title {
    margin-bottom: 1.5rem;
    justify-self: center;
}

.page-title h2 {
    text-align: left;
}

.create {
    text-align: right;
    background-color: rgb(0, 140, 255);
    color: white;
}

table {
    width: 100%;
}

tr {
    border: 1px solid #c7c7c7;
}

th,
td {
    padding: 1rem;
    text-align: left;
}

th {
    border: 1px solid #c7c7c7;
    background-color: #ececec;
}

.btn {
    border-radius: 5px;
}

.info {
    width: 600px;
    margin: auto;
    margin-top: 25px;
}

/* Programs */
.program_homepage_item{
    display:flex; justify-content: center; margin-bottom:50px;
    border: 1px solid grey; border-radius: 3px;
    height: 500px; width:60%;
}
.program_homepage_title{
    margin: 25px 35px 0px 35px; font-size:35px; 
}
.program_homepage_where{
    margin: 0px 35px 0px 35px;
}
.program_homepage_date{
    margin: 0px 35px 0px 35px; text-align: justify; color:#3390ff;
}
.program_homepage_desc{
    margin: 15px 35px 0px 35px; text-align: justify;
}