
.login-content {
    /* background-color: red; */
    margin: auto;
    width: 400px;
    box-shadow: 0 2px 5px #b3b3b3;
    background-color: white;
}

.card-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
}

.card-body {
    padding: 35px;;
}

.form-group button[type="submit"] {
    width: 100%;
    margin: 12px 0;
    height: 3rem;
    font-size: 16px;
}

.admin-content {
    margin: 25px 60px;
    text-align: center;
    background-color: white;
    padding: 30px;
    box-shadow: 0 2px 5px #b3b3b3;
}

.page-title {
    margin-bottom: 1.5rem;
    justify-self: center;
}

.page-title h2 {
    text-align: left;
}

.create {
    text-align: right;
    background-color: rgb(0, 140, 255);
    color: white;
}

table {
    width: 100%;
    white-space: nowrap;
}

tr {
    border: 1px solid #c7c7c7;
}

th,
td {
    padding: 1rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    border: 1px solid #c7c7c7;
    background-color: #ececec;
}

.btn {
    border-radius: 5px;
}

.info {
    width: 600px;
    margin: auto;
    margin-top: 25px;
}

/* Programs */
.program_homepage_h1{
    margin: 50px 35px 50px 35px;
}
.program_homepage_item{
    display:flex; justify-content: center; margin-bottom:50px;
    border: 1px solid grey; border-radius: 3px;
    height: 500px; width:60%;
}
.program_homepage_title{
    margin: 25px 35px 0px 35px; font-size:35px;
}
.program_homepage_where{
    margin: 0px 35px 0px 35px;
}
.program_homepage_date{
    margin: 0px 35px 0px 35px; text-align: justify; color:#3390ff;
}
.program_homepage_desc{
    margin: 15px 35px 0px 35px; text-align: justify;
}
.program_pagination_links{
    margin-left: 50px;
}
#searchType{
    margin-right: 10px; height:45px;
}
#program_serach_bar{
    width: 300px; margin-right: 10px; height:45px;
}
.program_input-group{
    display: flex; margin-bottom: 10px;
}

/* Programs/{id} */
.main{margin:45px 75px 75px 75px}
.show_title{
    font-size:50px; border-radius: 5px;
    border-bottom: 5px solid #c5c6c7;
    height:80px; margin-bottom: 20px; width:70vw;
}
.show_topInfo{
    color:grey; font-size:18px; display:flex;
}
.show_des{
    width:50vw; margin-top:15px;
}

/* Profile Controller */
.profile_controller_div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.profile_controller_div > input {
    margin: 15px;
    width: 20%;
    border: 1px solid black;
}

.profile_controller_div > select {
    margin: 15px;
    width: 20%;
    border: 1px solid black;
}

.profile_controller_div > form > button {
    margin: 15px;
    margin-left: auto;
    width: 20%;
    text-align: center;
    border: 1px solid green;
    color: black;
    background-color: green;
}
